.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-2 {
  width: 20%;
  background-color: #a5a2a2;
  height: 100vh;
}

.col-md-10 {
  width: 80%;
}

.main .menu {
  text-align: start;
  margin-top: 35px;
}

.menu .active {
  color: #000;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 40%) 2px 4px 10px;
}

.menu a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 25px 10px;
  transition: 0.3s;
}
.menu a.active{
  font-size: 27px;
}
.menu a:hover {
  color: #000;
}

.menu a:last-child {
  border-bottom: 1px solid #fff;
}

.menu a svg {
  margin-bottom: -3px;
}
.arrow{
  display: inline-block;
}
.toggleMenu {
  text-align: end;
  font-size: 40px;
  color: #fff;
  margin-right: 27px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.toggleMenu svg {
  transition: 0.3s;
}

.toggleMenu svg:hover {
  color: #000;
  cursor: pointer;
}

.toggleHide {
  width: 7%;
  transition: 0.3s;
}
.toggleHide .toggleMenu {
  text-align: center;
  margin-right: 0px;
}

.toggleShow {
  width: 20%;
  transition: 0.3s;
}

.toggleHide .menu a {
  text-align: center;
}

.toggleHide .toggleMenu svg {
  color: #000;
  transition: 0.3s;
}

.toggleHide .toggleMenu svg:hover {
  color: #fff;
}

@media(max-width:1024px){
  .col-md-2{
    width: 100%;
    height: auto;
  }
  .col-md-10{
    width: 100%;
    text-align: center;
  }
  .wrap-calculator{
    padding-top: 0px;
    padding-left: 0px;
  }
  .wrap-calculator .title{
    text-align: center;
  }
  .wrap-todo .show-results input[type=text]{
   width: -webkit-fill-available!important;
   margin: 0px 30px;
  }
  .show-results input[type=text]{
    margin: auto;
    margin-bottom: -12px;
  }
  .show-results{
    text-align: center;
  }
  .main-calculator{
    justify-content: center;
    margin-left: 0px;
  }
  .wrap-todo{
    padding-top: 0px;
    padding-left: 0px;
  }
  .wrap-todo h1{
    text-align: center;
  }
  .todo-list .todo{
    margin: 0px 30px;
    width: -webkit-fill-available;
  }
  .toggleMenu{
    margin-right: 0px;
    text-align: center;
  }
  .menu a{
    text-align: center;
  }
  .bars{
    display: inline-block;
  }
  .wrap-sidebar{
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
  }
  .sidebar-mobile-hide{
    transition: 0.3s;
    margin-top: -171px;
  }
  .sidebar-mobile-show{
    transition: 0.3s;
    margin-top: 0px;
  }
  .menu a:last-child{
    border-bottom: none;
  }
  .input-change{
    width: -webkit-fill-available;
  }
}
@media(max-width:800px){

}